{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}

    <form action="/addcash" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="cash">
                <option disabled="" selected="">Cash</option>
                <option value="10">$10</option>
                <option value="100">$100</option>
                <option value="1000">$1000</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Add Cash</button>
    </form>
{% endblock %}